/* google font */
@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;700&display=swap");
/* google font */

/* my settings */
:root {
  --font-andika: "Andika", sans-serif;
  --font-jet: "JetBrains Mono", monospace;
  --font-pop: "Poppins", sans-serif;
  --font-sand: "Quicksand", sans-serif;

  --color-l-1: #e3fdfd;
  --color-l-2: #cbf1f5;
  --color-l-3: #a6e3e9;
  --color-l-4: #71c9ce;

  --color-d-1: #2b2e4a;
  --color-d-2: #e84545;
  --color-d-3: #903749;
  --color-d-4: #53354a;

  --color-v-1: #f39189;
  --color-v-2: #bb8082;
  --color-v-3: #6e7582;
  --color-v-4: #046582;
}
/* my settings */

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: fit-content;
  font-family: var(--font-pop);
  background-color: var(--color-l-1);
}

a {
  text-decoration: none;
  color: black;
}
/* BASE */

/* container */
.container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* container */

/* judul website */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.title-1 {
  width: max-content;
  height: max-content;
  font-size: 2.5rem;
  font-family: var(--font-sand);
  /* background-color: var(--color-l-2); */
}
.title-2 {
  width: max-content;
  height: max-content;
  font-size: 6rem;
  font-family: var(--font-jet);
  /* background-color: var(--color-l-3); */
}
/* judul website */

.sub-title {
  width: 83%;
  padding: 20px;
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-l-2);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.judul {
  text-align: center;
}
.audio {
  height: 40px;
  margin-left: 20px;
}
.lyric {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--font-andika);
}
.real-text,
.romanized {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
  padding: 15px;
  background-color: var(--color-l-2);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.up,
.down {
  margin: 10px;
}
.up {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
.down {
  font-size: 1.25rem;
}
.writer {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-family: var(--font-jet);
  text-align: center;
}

footer {
  width: 90%;
  height: max-content;
  font-size: 1.25rem;
  font-family: var(--font-jet);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-l-3);
  border-radius: 25px 25px 0 0;
  -webkit-border-radius: 25px 25px 0 0;
  -moz-border-radius: 25px 25px 0 0;
  -ms-border-radius: 25px 25px 0 0;
  -o-border-radius: 25px 25px 0 0;
}
.footer-up {
  width: 100px;
  height: 50px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: var(--color-l-4);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.footer-up:hover {
  background-color: var(--color-l-2);
}

@media screen and (max-width: 600px) {
  .title-1 {
    font-size: 1.5rem;
  }
  .title-2 {
    font-size: 4rem;
  }
  .sub-title {
    width: 80%;
    flex-direction: column;
  }
  .judul {
    font-size: 2rem;
  }
  .audio {
    width: 100%;
    height: 25px;
    margin-left: 0;
  }
  .lyric {
    flex-direction: column;
    align-items: center;
  }
  .real-text {
    order: 2;
  }
  .romanized {
    order: 1;
  }
  .up {
    font-size: 1rem;
  }
  .down {
    font-size: 0.85rem;
  }
}
