/* google font */
@import url("https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@400;700&display=swap");
/* google font */

/* my settings */
:root {
  --font-andika: "Andika", sans-serif;
  --font-jet: "JetBrains Mono", monospace;
  --font-pop: "Poppins", sans-serif;
  --font-sand: "Quicksand", sans-serif;

  --color-l-1: #e3fdfd;
  --color-l-2: #cbf1f5;
  --color-l-3: #a6e3e9;
  --color-l-4: #71c9ce;

  --color-d-1: #2b2e4a;
  --color-d-2: #e84545;
  --color-d-3: #903749;
  --color-d-4: #53354a;

  --color-v-1: #f39189;
  --color-v-2: #bb8082;
  --color-v-3: #6e7582;
  --color-v-4: #046582;
}
/* my settings */

/* BASE */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  height: fit-content;
  font-family: var(--font-pop);
  background-color: var(--color-l-1);
}

a {
  text-decoration: none;
  color: black;
}
/* BASE */

/* container */
.container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* container */

/* judul website */
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-1 {
  width: max-content;
  height: max-content;
  font-size: 2.5rem;
  font-family: var(--font-sand);
  /* background-color: var(--color-l-2); */
}
.title-2 {
  width: max-content;
  height: max-content;
  font-size: 6rem;
  /* background-color: var(--color-l-3); */
}
/* judul website */

/* exo */
.exo {
    width: 100%;
    height: max-content;
    font-family: var(--font-pop);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
/* exo */

/* album exist */
.album {
    width: 400px;
    height: max-content;
    margin: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    background-color: var(--color-l-2);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.album-name {
    width: 350px;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    padding: 10px;
    background-color: var(--color-l-3);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.note {
    font-weight: bold;
}
.album-song {
    width: 100%;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.img {
    width: 200px;
    height: 200px;
    margin: 5px;
}
.song-name {
    width: 370px;
    /* height: 200px; */
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    /* background-color: var(--color-l-3); */
}
.song {
  text-align: center;
  font-size: 1rem;
}
.song:hover {
    color: var(--color-d-2);
}
/* album exist */

/* responsive mobile phone: iphone 12 pro */
@media screen and (max-width: 600px) {
    .title-1 {
        font-size: 1.5rem;
    }
    .title-2 {
        font-size: 4rem;
    }

    .album {
      width: 370px;
    }
    .album-name {
      width: 270px;
      font-size: 1rem;
    }
    .img {
      width: 130px;
      height: 130px;
    }
    .song-name {
      width: 300px;
    }
    .song {
      font-size: 0.85rem;
    }
}
/* responsive mobile phone: iphone 12 pro */
